.eventCardContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .eventCard {
    width: 19.4375rem;
    width: 16rem;
    height: 548.27px;
    filter: drop-shadow(0px 0px 33.1283px rgba(0, 0, 0, 0.05));
    border-radius: 24.8462px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media screen and (min-width: 451px) and (max-width: 820px) {
  .eventCard {
    width: 35rem;
    height: 548.27px;
    filter: drop-shadow(0px 0px 33.1283px rgba(0, 0, 0, 0.05));
    border-radius: 24.8462px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media screen and (min-width: 850px) {
  .eventCard {
    height: 80vh;
    padding-top: 5rem;
    padding-right: 12rem;
  }
}