.homeContainer {
  // background-color: #DDDDDD;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.buttonContainerMobile {
  margin-top: 1rem;
}

.eventContainerMobile {
  padding-top: 1rem;
}

.desktopContainer {
  display: none;
}

@media screen and (min-width: 850px) {
  .headingContainerMobile {
    display: none;
  }

  .eventContainerMobile {
    display: none;
  }

  .buttonContainerMobile {
    display: none;
  }

  .desktopContainer {
    display: flex;
  }
  .rightCard {
    padding-top: 10rem;
    padding-right: 8rem;
  }
}